body {
	margin:0;
	background:transparent;
	border:none;
}


.header-arrow {
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -8px;
	height: 16px;
	width: 16px;
	transform: rotate(45deg);
	background-color: rgb(41, 46, 49);
	margin-bottom:5px;
}

.wrapper {
	margin-top:10px;
}



/* Editor Section */

#editor {
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgb(46, 51, 54);
	z-index:1;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor:text;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px !important;
	border: none;
}